@model BookIndexViewModel;
@using Library.ViewModels;
@using System.Collections.Generic;
@using System.Linq;
@{
    List<Copy> bb = ViewBag.BookBag as List<Copy>;
}

<h1>Book Inventory</h1>
<h4>Add a new book @Html.ActionLink("here","Create")</h4>

@if(Model.Books.Count == 0)
{
    <h3>There are no books in the inventory</h3>
    
}
else
{
    <div class="row bookHeader">
        <div class="col-md-1">
            In BookBag
        </div>
        <div class="col-md-2">
            Title
        </div>
        <div class="col-md-2">
            Author(s)
        </div>
        <div class="col-md-2">
            Genre
        </div>
        <div class="col-md-1">
            Publish Year
        </div>
        <div class="col-md-2">
            Format
        </div>
        <div class="col-md-2">
            Actions
        </div>
    </div>
    @using (Html.BeginForm("AddToBookBag", "Transaction"))
    {
        <input type="submit" value="Add to bookbag">

    @foreach(Book book in Model.Books)
    {
        
        <div class="row">
        <div class="col-md-1">
            @if(@bb.FirstOrDefault(copy => copy.Book.BookId == book.BookId) != null)
            {
                <input type="checkbox" name="InBookBag" value="@Model.Copies.FirstOrDefault(copy => copy.BookId == book.BookId && copy.CheckoutId == 0).CopyId" checked>

            }
            else if(@Model.Copies.FirstOrDefault(copy => copy.BookId == book.BookId && copy.CheckoutId == 0) != null)
            {
                <input type="checkbox" name="InBookBag" value="@Model.Copies.FirstOrDefault(copy => copy.BookId == book.BookId && copy.CheckoutId == 0).CopyId">
            }
            else
            {
                <p>N/A</p>
            }
        </div>
        <div class="col-md-2">
            @book.Title
        </div>
        <div class="col-md-2">
            @foreach (var author in @book.Authors)
            {
                @author.Author.WholeName<br>
            }
        </div>
        <div class="col-md-2">
             @book.Genre
        </div>
        <div class="col-md-1">
             @book.PublishYear
        </div>
        <div class="col-md-2">
             @book.Format
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Edit", "Edit", new {id = @book.BookId }) <br>
            @Html.ActionLink("Remove", "Delete", new {id = @book.BookId }) <br>
            @Html.ActionLink("Details", "Details", new {id = @book.BookId })
        </div>
    </div>
    }
    }
}