@using Library.Models;
@using System;
@using Library.ViewModels;
@model TransactionIndexViewModel;
@{
    var today = DateTime.Now;
}

<h1>Transactions for @User.Identity.Name</h1>

@if (Model.Transactions.Any())
{
  <div class="row bookHeader">
      <div class="col-md-3">
          Book Title
      </div>
      <div class="col-md-3">
          Date Checked Out
      </div>
      <div class="col-md-3">
          Due Date
      </div>
      <div class="col-md-3">
          Date Returned
      </div>
    </div>
    @foreach (Transaction transaction in Model.Transactions)
    {
        <div class="row">
        </div>
      @foreach(Checkout checkout in @transaction.Checkouts)
      {
        <div class="row">
            <div class="col-md-3">
                @(Model.Books.FirstOrDefault(copy => copy.CopyId == (Model.Checkouts.FirstOrDefault(c => c.CheckoutId == checkout.CheckoutId).CopyId)).Book.Title)
            </div>
            <div class="col-md-3">
                @checkout.CheckoutDate
            </div>
            
                @if(@checkout.DueDate < @today)
                {
                    <div class="col-md-3 overdue">
                        @checkout.DueDate
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        @checkout.DueDate
                    </div>
                }
                
            <div class="col-md-3">
                @checkout.CheckinDate
            </div>
        </div>
          
      }
    }
  
} 
else
{
  <h3>No items have been added yet!</h3>
}

<p>@Html.ActionLink("Add new item", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>